---
title: ginza.rb
---

<!-- Add your site or application content here -->
<section id="intro">
<div class="slogan">
  <h1>Welcome to <span>ginza.rb</span></h1>
  <div class="icon">
    <img src="img/logo.png" />
  </div>
</div>
</section>
<section id="about" class="section">
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="heading">
        <h3><span>about</span></h3>
      </div>
      <div class="sub-heading">
        <p>
          Ginza.rbは、銀座周辺のRuby技術者たちが集まってRubyに関する何かをする地域Rubyistコミュニティです。<br />
          当面はrails4のソースコードリーディングを行います。
        </p>
      </div>
    </div>
  </div>
</section>

<section id="event" class="section">
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="heading">
        <h3><span>events</span></h3>
      </div>
      <div class="sub-heading">
      <p>
        <a href="http://ginzarb.doorkeeper.jp">doorkeeper</a> でイベント情報を管理しています。<br />
        過去のmeetupについては、<a href="https://github.com/ginzarb/meetups/wiki" target="_blank">githubのwiki</a>でご確認できます。<br><br>
        また、下記 twitter 及び facebook グループでも告知をしますので、興味のある方はフォロー／グループ参加をお願いします。
      </p>
      <div class="dotted_line">
      </div>
      <p>
        <span><i class="icon-facebook"></i><strong>facebookグループ: </strong><a href="http://www.facebook.com/groups/627710653924920/">http://www.facebook.com/groups/627710653924920/</span>
      </p>
      <p>
        <span><i class="icon-twitter"></i><strong>twitter: </strong><a href="https://twitter.com/ginzarb2">https://twitter.com/ginzarb2</a></span>
      </p>
      <br>
    </div>
    <div class="sub-heading">
      <p>また、idobataで雑談してたりもします。一緒に雑談しましょう。
      idobataルームのURLは<a href="https://idobata.io/#/organization/ginzarb/room/ginzarb">こちら</a>
      </p>
      <p>
      </p>
    </div>
  </div>
</div>
</section>
<section id="memberlist" class="section">
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="heading">
        <h3><span>member list</span></h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <div class="roles">
        <h5><strong>ken1flan</strong></h5>
        <img src="http://gravatar.com/avatar/6d5dbb7f4489227b5e85860f37bceb52?s=120"/>
        <ul class="social-profile">
          <li><a href="http://www.facebook.com/ken1flan"><i class="icon-facebook icon-32 icon-circled"></i></a></li>
          <li><a href="https://twitter.com/ken1flan"><i class="icon-twitter icon-32 icon-circled"></i></a></li>
          <li><a href="https://github.com/ken1flan"><i class="icon-github icon-32 icon-circled"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="span4">
      <div class="roles">
        <h5><strong>willnet</strong></h5>
        <img src="http://gravatar.com/avatar/6ac7c50770603b53964d44db373e8e48?s=120"/>
        <ul class="social-profile">
          <li><a href="http://www.facebook.com/shinichi.maeshima"><i class="icon-facebook icon-32 icon-circled"></i></a></li>
          <li><a href="https://twitter.com/netwillnet"><i class="icon-twitter icon-32 icon-circled"></i></a></li>
          <li><a href="https://github.com/willnet"><i class="icon-github icon-32 icon-circled"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="span4">
      <div class="roles">
        <h5><strong>y-yagi</strong></h5>
        <img src="http://gravatar.com/avatar/e67dcdafbf6ec9af7b0fac8835dd2f58?s=120"/>
        <ul class="social-profile">
          <li><a href="https://github.com/y-yagi"><i class="icon-github icon-32 icon-circled"></i></a></li>
        </ul>
      </div>
    </div>
  </div>



</div>
</section>
